* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Hangyaboly', sans-serif;
                                                
    background: #e6fbff;
    background: linear-gradient(90deg, rgba(230, 251, 255, 1) 0%, rgba(255, 191, 231, 1) 100%);
}

h1{
    margin-bottom: 5px;
}

.button-container{
    position: absolute;
  
    /* Place above nav */
    bottom: 0px;
    left: 0px;
    
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    z-index: 100;
}

/* Book */
.book {
    position: relative;
    width: 380px;
    height: 550px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    border-radius: 8px;
    
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    outline: 2px solid pink;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    /* border-left: 3px solid powderblue; */
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: x-small;
    font-weight: 100;
    color: #757575;

}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#f1{
    background-image: url('img/cover.png');
    border-radius: 10px;
}
#b1{
    background-image: url('img/1.png');
    border-radius: 10px;
}
#f2{
    background-image: url('img/2.png');
    border-radius: 10px;
}
#b2{
    background-image: url('img/3.png');
    border-radius: 10px;
}
#f3{
    background-image: url('img/4.png');
    border-radius: 10px;
}
#b3{
    background-image: url('img/back.png');
    border-radius: 10px;
}

@media only screen and (max-width: 375px){
    .book{
        width: 90%;
    }
}